/* Colors for use 
#09182e - Dark Blue
#747c94 - Clay
#00ced1 - Blue White

*/


* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}



/* Here are the same items */

.container {
    margin: auto;
    max-width: 1200px;
}

span {
    color: #00ced1;
}

.button {
    background-color: #00ced1;
    border-radius: 3px;
    color: #FFFF;
    padding: 10px 20px;
    text-decoration: none;
}

.button:hover {
    background-color: rgba(0, 206, 209, 0.9);
}

p1 {
    color: #00ced1;
}

h1 {
    color: #FFFF;
    font-size: 50px;
}

h2 {
    color: #747c94;
    font-size: 30px;
}

p2 {
    color: #747c94;
}

/* Here are the itens of header */

.header {
    height: 100px;
}

header {
    background-color: #09182e;
}

.header-elements {
    display: flex;
    height: 100%;
}

.header-elements-left {
    align-items: center;
    display: flex;
    width: 300px;
}

.header-elements-left img {
    margin-left: 10px;
    width: 60px;
}

.header-elements-right {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.header-elements-right nav ul {
    display: flex;
    list-style: none;
}

.header-elements-right nav ul li a {
    color: #747c94;
    font-size: 15px;
    font-weight: 500;
    margin-right: 60px;
    text-decoration: none;
}

.header-elements-right nav ul li a:hover {
    color: #FFFF;
}

.header-elements-right-button {
    margin-right: 10px;
}

/* Here is the section banner */

.section-banner {
    background-color: #09182e;
    display: flex;
    height: calc(100vh - 100px);
}

.section-banner-elements-left,
.section-banner-elements-right {
    flex: 1;
}

.section-banner-elements-left-elements {
    padding: 100px;
}

.section-banner-elements-left-elements h1 {
    margin-top: 10px;
}

.section-banner-elements-left-elements h2 {
    margin-bottom: 10px;
}

.section-banner-elements-left-elements p2 a {
    color: #00ced1;
    text-decoration: none;
}

.section-banner-elements-left-elements p2 a:hover {
    font-weight: 600;
}

.section-banner-elements-left-elements .button {
    display: inline-block;
    font-size: 20px;
    margin-top: 60px;
    padding: 20px 30px;
}

.section-banner-elements-right {
    background-image: url("../../img/my-photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




/* Here is the section of training */

.section-training {
    background-color: #09182e;
    padding-bottom: 30px;
    padding-top: 100px;
}

.elements-trainings h1 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.elements-training {
    display: flex;
    margin-bottom: 100px;
}

.elements-trainings p1::before {
    color: #1e8dd7;
    content: "➥"
}

.elements-trainings ul {
    list-style: none;
    margin-top: 20px;
}

.elements-training ul li {
    color: #747c94;
    margin-top: 5px;
}

.elements-training .button {
    display: inline-block;
    margin-top: 10px;
}

.elements-training-left,
.elements-training-right {
    flex: 1;
}